<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>webmotion</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/<% theme %>"/>
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="<% request.uri_base %>/css/header.css"/>
<link rel="stylesheet" href="<% request.uri_base %>/css/daterangepicker-bs3.css"/>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/moment.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/md5.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.tmpl.js"></script>
<!--<script type="text/javascript" src="<% request.uri_base %>/javascripts/scroll.js"></script>-->
<script type="text/javascript" src="<% request.uri_base %>/javascripts/main.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/daterangepicker.js"></script>
</head>
<body>
<% content %>
</body>
</html>
