<div id="main-nav-bar">
<ul class="nav nav-pills nav-stacked">
  <li><a class="active" href="/events">Events</a></li>
  <li><a class="menu-item" href="/camera">Camera</a></li>
  <li><a class="menu-item" href="/logout">Logout</a></li>
</ul>
</div>
