
body {
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #fff;
/* background-image: url("/images/perldancer-bg.jpg"); */
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border: 3px solid #aaa;
border-top: none;
padding: 25px;
width: 500px;
}

#sidebar {
float: right;
width: 175px;
}

#header, #about, #getting-started {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}

#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}

#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#getting-started li p {
color: #555;
font-size: 13px;
}

#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

#login-form {
    position:fixed;
    top: 50%;
    left: 60%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -20em; /*set to a negative number 1/2 of your width*/
}

#login-error {
    margin-left: 6em;
    display: none;
}

.text-error {
    text-color: #00ff00;
}

/*
body {
    font-size: 62.5%;
    padding: 0;
    margin: 120px 0 0 0;
}
*/

.loading-bar {
    padding: 10px 20px;
    display: block;
    text-align: center;
    box-shadow: inset 0px -45px 30px -40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 20px 0;
    font-size: 2em;
    font-family: "museo-sans", sans-serif;
    border: 1px solid #ddd;
    margin-right: 1px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.loading-bar:hover {
    box-shadow: inset 0px 45px 30px -40px rgba(0, 0, 0, 0.05);
}

#content {
    width: 800px;
    margin: 0px auto;
}

#content h1 {
    font-family: "chaparral-pro", sans-serif;
    color: #444;
    font-size: 4.2em;
}

#content h1 a {
    color: #444;
    text-decoration: none;
}

#content h1 a:hover {
    color: #666;
}

#content p {
    font-size: 2em;
    line-height: 1.7em;
    font-family: "museo-sans", sans-serif;
    text-align: justify;
}

#content hr {
    border-bottom: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


#travel {
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    font-variant: normal;
    text-decoration: none;
}

#travel a {
    font-family: 'Georgia', serif;
    text-decoration: none;
    border-bottom: 1px solid #f9f9f9;
    color: #f9f9f9;
    font-size: 1.5em;
}

#events {
    margin-right:10%;
    margin-left:15%;
}

#main-nav-bar {
    position:fixed;
    top: 30px;
    left: 40px;
}

.tt {
    width: 20em;
}

div.service {
  max-width: 700px;
  padding: 30px 50px;
  margin: 60px auto;
  text-align: center;
}
